.olLayerGooglePoweredBy.olLayerGoogleV3.gmnoprint {
visibility:hidden;
}
.center.navbar .nav,
.center.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: bottom;
}

.center .navbar-inner {
    text-align:center;
}
